body {
  background-color: lightgray;
}

h1 {
  color: ghostwhite;
}





.total {
  color: red;
}



.titre {
  color: cornflowerblue;
  margin-top: 100px;
}

.titregroupe {
  color: cornflowerblue;
  margin-top: 22px;


}